.login-form {
    margin: auto;
    width: 50%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frm {
    width: 350px;
}

.alert {
    width: 500px;
    max-height: 20px !important;
}