.move-button {
  text-align: left !important;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: 10px;
  width: 70px;
  background-color: #3b566e !important;
}

.move-button-highlight {
  text-align: left !important;
  margin-left: 15px;
  margin-right: 0px;
  margin-top: 10px;
  width: 70px;
  background-color: #5c84a8 !important;
}

.move-pair {
  width: 100%;
  display:flex;
  flex-direction: row;
}

.move-pair-number {
  margin: 18px 0px 0px 10px;
}

.move-pair-number-container {
  width:30px;
  height:20px;
}

.moves-history {
  display:flex;
  flex-direction: column;
  margin-left: 50px;
  height: 500px;
  width: 240px;
  background-color: #233240;
  overflow-y: scroll;
}